<!DOCTYPE html>
<html lang="en" class="privacy">
<head>
    <meta charset="UTF-8">
    <title>手机图片传输 - 隐私声明</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <meta name="misapplication-tap-highlight" content="no"/>
    <meta name="HandheldFriendly" content="true"/>
    <meta name="MobileOptimized" content="320"/>
    <link rel="stylesheet" href="/css/global.css?@@vv">
</head>
<body>  
    
    <div class="wrap">
        <h1>手机图片传输 - 隐私声明</h1>
        
        <p>
            我们非常重视您的隐私，专门制定了隐私保护制度以保护您的隐私， 在您使用这个免费应用前，请您仔细阅读以下声明。<br>
            本应用是匿名应用，我们绝不通过您的使用来追踪您的个人信息。<br>
            对于用户使用行为的数据，我们将进行严格的管理及保护，不会提供给无关的第三方（包括公司或个人）。
        </p>
    </div>

    
</body>
<script>

</script>
</html>