<!DOCTYPE html>
<html lang="en" class="support">
<head>
    <meta charset="UTF-8">
    <title>手机图片传输 - 支持</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <meta name="misapplication-tap-highlight" content="no"/>
    <meta name="HandheldFriendly" content="true"/>
    <meta name="MobileOptimized" content="320"/>
    <link rel="stylesheet" href="/css/global.css?@@vv">
</head>
<body>  
    
    <div class="wrap">
        <h1>手机图片传输 - 支持</h1>
        
        <p>
            首先感谢您使用该插件，<br>  
            使用过程中，有任何问题，都可以发送邮件到 <a href="mailto:zhangkun_net@hotmail.com">zhangkun_net@hotmail.com</a>，<br>
            或者到 <a href="http://www.cnblogs.com/twoer/p/5036354.html" target="_blank">我的博客</a>留言，<br>
            收到后，我会第一时间给您答复。
        </p>
    </div>

    
</body>
<script>

</script>
</html>